@import url('https://fonts.googleapis.com/css2? família= Sarala & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(to bottom, #d4bfe8, #a37ebf);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 40;
    background-color: #f1e5f8;
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-end;
}


.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.conteudo-principal-escrito-titulo {
    font-family:'Sarala', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #4e4e44;
}
        
.conteudo-principal-escrito-subtitulo {
    font-family:'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #4e4e44;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.conteudo-principal-imagem {
     
        height: 330px;
        border-radius: 15px;
        box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
        border-radius: 15px;
    }     

.conteudo-principal-secundario-paragrafo {
        display: flex;
        flex-direction: row;
        align-items: justify;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
    }

.conteudo-secundario-imagem {
        height: 330px;
        border-radius: 15px;
        box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
        border-radius: 15px;
    }
    
.conteudo-secundario-texto-mapa {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;

    }

.conteudo-rodape {
        background: #a37ebf;
        text-align: center;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
    }




.conteudo-rachel {
margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-rachel-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
       
.conteudo-rachel-principal-escrito {
    display: flex;
    font-family:'Sarala', sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #4e4e44;
       }
                    
.conteudo-rachel-principal-escrito-titulo {
    font-family:'Sarala', sans-serif;
    align-items: center;
    font-weight: 400;
    font-size: 56px;
    color: #4e4e44;
}     


.conteudo-rachel-principal-escrito-imagem {
    display: flex;
    align-items: center;
    height: 530px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
    border-radius: 15px;
}     

.conteudo-principal-secundario-paragrafo-rachel1 {
        display: flex;
        flex-direction: row;
        align-items: justify;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
    }

.conteudo-principal-secundario-paragrafo-rachel2 {
        display: flex;
        flex-direction: row;
        align-items: justify;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
    }

.imagem-rachel-ross {
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}

.conteudo-principal-secundario-paragrafo-rachel3 {
        display: flex;
        flex-direction: row;
        align-items: justify;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
    }

.conteudo-ross {
    margin-bottom: 48px;
        border-top: 0.4px solid #FFF2E7;
    }

.conteudo-ross-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
           
.conteudo-ross-principal-escrito {
        display: flex;
        font-family:'Sarala', sans-serif;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #4e4e44;
    }
                        
.conteudo-ross-principal-escrito-titulo {
        font-family:'Sarala', sans-serif;
        align-items: center;
        font-weight: 400;
        font-size: 56px;
        color: #4e4e44;
    }     
    
    
.conteudo-principal-secundario-paragrafo-ross1 {
            display: flex;
            flex-direction: row;
            align-items: justify;
            gap: 10px;
            line-height: 2.0;
            margin-left: 100px;
            font-family:'Sarala', sans-serif;
            color: #4e4e44;
    }
        .conteudo-principal-secundario-paragrafo-ross2 {
            display: flex;
            flex-direction: row;
            align-items: justify;
            gap: 10px;
            line-height: 2.0;
            margin-left: 100px;
            font-family:'Sarala', sans-serif;
            color: #4e4e44;
     
        }
        .conteudo-principal-secundario-paragrafo-ross3 {
            display: flex;
            flex-direction: row;
            align-items: justify;
            gap: 10px;
            line-height: 2.0;
            margin-left: 100px;
            font-family:'Sarala', sans-serif;
            color: #4e4e44;
     
        }
    
    .conteudo-ross-principal-escrito-imagem {
        display: flex;
    align-items: center;
    height: 530px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
    border-radius: 15px;
    }


.conteudo-monica {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2E7;
        }

        .conteudo-monica-principal {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
               
        .conteudo-monica-principal-escrito {
            display: flex;
            font-family:'Sarala', sans-serif;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: #4e4e44;
               }
                            
        .conteudo-monica-principal-escrito-titulo {
            font-family:'Sarala', sans-serif;
            align-items: center;
            font-weight: 400;
            font-size: 56px;
            color: #4e4e44;
            
            }     
        
        
        .conteudo-monica-principal-escrito-imagem {
            display: flex;
            align-items: center;
            height: 530px;
            border-radius: 15px;
            box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
            border-radius: 15px;
        }     
        
        .conteudo-phoebe {
            margin-bottom: 48px;
                border-top: 0.4px solid #FFF2E7;
            }

            .conteudo-phoebe-principal {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
                   
            .conteudo-phoebe-principal-escrito {
                display: flex;
                font-family:'Sarala', sans-serif;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                color: #4e4e44;
            }
                                
            .conteudo-phoebe-principal-escrito-titulo {
                font-family:'Sarala', sans-serif;
                align-items: center;
                font-weight: 400;
                font-size: 56px;
                color: #4e4e44;
                
            }  
            .conteudo-principal-secundario-paragrafo-phoebe1 {
                display: flex;
                flex-direction: row;
                align-items: justify;
                gap: 10px;
                line-height: 2.0;
                margin-left: 100px;
                font-family:'Sarala', sans-serif;
                color: #4e4e44;
                }   
            
            .conteudo-principal-secundario-paragrafo-phoebe2 {
                display: flex;
                flex-direction: row;
                align-items: justify;
                gap: 10px;
                line-height: 2.0;
                margin-left: 100px;
                font-family:'Sarala', sans-serif;
                color: #4e4e44;
                }

                .conteudo-principal-secundario-paragrafo-phoebe3 {
                    display: flex;
                    flex-direction: row;
                    align-items: justify;
                    gap: 10px;
                    line-height: 2.0;
                    margin-left: 100px;
                    font-family:'Sarala', sans-serif;
                    color: #4e4e44;
                    }
        
.conteudo-joey {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}


.conteudo-joey-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
       
.conteudo-joey-principal-escrito {
    display: flex;
    font-family:'Sarala', sans-serif;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #4e4e44;
}
                    
.conteudo-joey-principal-escrito-titulo {
    font-family:'Sarala', sans-serif;
    align-items: center;
    font-weight: 400;
    font-size: 56px;
    color: #4e4e44;
}     


.conteudo-joey-principal-escrito-imagem {
    display: flex;
    align-items: center;
    height: 530px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
    border-radius: 15px;
}
.conteudo-joey-principal-escrito-imagem {
    display: flex;
    align-items: center;
    height: 530px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
    border-radius: 15px;
}

.conteudo-principal-secundario-paragrafo-joey1 {
    display: flex;
    flex-direction: row;
    align-items: justify;
    gap: 10px;
    line-height: 2.0;
    margin-left: 100px;
    font-family:'Sarala', sans-serif;
    color: #4e4e44;
}

.conteudo-principal-secundario-paragrafo-joey2 {
    display: flex;
    flex-direction: row;
    align-items: justify;
    gap: 10px;
    line-height: 2.0;
    margin-left: 100px;
    font-family:'Sarala', sans-serif;
    color: #4e4e44;
}

.conteudo-principal-secundario-paragrafo-joey3 {
    display: flex;
    flex-direction: row;
    align-items: justify;
    gap: 10px;
    line-height: 2.0;
    margin-left: 100px;
    font-family:'Sarala', sans-serif;
    color: #4e4e44;
}
                
.conteudo-bing {
    margin-bottom: 48px;
        border-top: 0.4px solid #FFF2E7;
    }
    
    .conteudo-bing-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
           
    .conteudo-bing-escrito {
        display: flex;
        font-family:'Sarala', sans-serif;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #4e4e44;
           }
                        
    .conteudo-bing-principal-ecrito-titulo {
        font-family:'Sarala', sans-serif;
        align-items: center;
        font-weight: 400;
        font-size: 56px;
        color: #4e4e44;
        }
        
    .conteudo-principal-secundario-paragrafo-bing1 {
        display: flex;
        
        align-items: justify;
        gap: 10px;
        line-height: 2.0;
        margin-left: 100px;
        font-family:'Sarala', sans-serif;
        color: #4e4e44;
        }
        .conteudo-principal-secundario-paragrafo-bing1 {
            display: flex;
            flex-direction: row;
            align-items: justify;
            gap: 10px;
            line-height: 2.0;
            margin-left: 100px;
            font-family:'Sarala', sans-serif;
            color: #4e4e44;
            }    
        
            .conteudo-principal-secundario-paragrafo-bing2 {
                display: flex;
                flex-direction: row;
                align-items: justify;
                gap: 10px;
                line-height: 2.0;
                margin-left: 100px;
                font-family:'Sarala', sans-serif;
                color: #4e4e44;
                }

                .conteudo-principal-secundario-paragrafo-bing3 {
                    display: flex;
                    flex-direction: row;
                    align-items: justify;
                    gap: 10px;
                    line-height: 2.0;
                    margin-left: 100px;
                    font-family:'Sarala', sans-serif;
                    color: #4e4e44;
                    }

    .imagem-chandler-meio {
        height: 330px;
        border-radius: 15px;
        box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
        border-radius: 15px; 
        }    
    
    
    .conteudo-bing-principal-escrito-imagem {
        display: flex;
        align-items: center;
        height: 530px;
        border-radius: 15px;
        box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
        border-radius: 15px;
    }    

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-items: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}





.conteudo-galeria {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7; 
    }

.conteudo-galeria-principal-escrito-imagem {
    height: 330px;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);
    border-radius: 15px;
    }                    


.conteudo-galeria {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7; 
    }


.conteudo-fale {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;    
    }
        
.conteudo-principal-fale {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
    
.conteudo-principal-escrito-titulo-fale {
    font-family:'Sarala', sans-serif;
    align-items: center;
    font-weight: 400;
    font-size: 56px;
    color: 12, 12, 12, 0.25;
}            
    
.conteudo-principal-escrito-subtitulo-fale {
    font-family:'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #4e4e44;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}    
    
.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-btn {
    background-color: #b399c8; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown-btn:hover {
    background-color: #a37ebf;
}


.dropdown-content {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #d4bfe8;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
}


.dropdown-content a {
    color: #4e2376; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #c7a8db; 
}


.dropdown:hover .dropdown-content {
    display: block;
}



.cabecalho-menu-pagina {
    background-color: #b399c8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; 
    display: inline-block;
    text-align: center;
    margin-right: 10px; 
}

.cabecalho-menu-pagina:hover {
    background-color: #a37ebf; 
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: left;
    object-fit: cover;
    width: 100%;
    height: auto;
}
    
.botao-lilas {
    background-color: #8A2BE2; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.botao-lilas:hover {
    background-color: #7A1FC2; 
}










